html {
  font-family: "Roboto", sans-serif;
}

* {
  color: #545454;
}

::-webkit-scrollbar {
  width: 0.2em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cfcaca00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 111, 111);
}

#app {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
}

.over-shadow {
  box-shadow: 5px 6px 6px -2px hsla(var(--bg-shadow), 0.7);
  -webkit-box-shadow: 2px 3px 10px -1px hsla(var(--bg-shadow), 0.7);
  -moz-box-shadow: 5px 6px 6px -2px hsla(var(--bg-shadow), 0.7);
}

.light-theme {
  --bg-shadow: 0, 0%, 33%;
  --bg-strong: 0, 1%, 47%;
  /* --bg-strong: 0, 0%, 33%; */
  --alpha: 1;
  --bg-primary: 0, 0%, 100%;
  --bg-accent: 30, 11%, 96%;
}

.bg-accent {
  background-color: hsla(var(--bg-accent), var(--alpha));
}

.bg-primary {
  background-color: hsla(var(--bg-primary), var(--alpha));
}

.bg-strong {
  background-color: hsla(var(--bg-strong), var(--alpha));
}

.border-accent {
  border-color: hsla(var(--bg-accent), var(--alpha));
}

.border-primary {
  border-color: hsla(var(--bg-primary), var(--alpha));
}

.border-strong {
  border-color: hsla(var(--bg-strong), var(--alpha));
}

.fill-accent {
  fill: hsla(var(--bg-accent), var(--alpha));
}

.fill-primary {
  fill: hsla(var(--bg-primary), var(--alpha));
}

.fill-strong {
  fill: hsla(var(--bg-strong), var(--alpha));
}
